@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

body,
html {
	background-color: #fcfefe;
	font-family: 'Raleway', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}

.poppins {
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.bg-primary {
	background-color: #397a80;
}
